@model ViewBooksModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Kitap Adı</th>
            <th scope="col">Kitap Kodu</th>
            <th scope="col">Yazar</th>
            <th scope="col">Kitap Sayfa Sayısı</th>
            <th scope="col">Yayın Evi,</th>
            <th scope="col">İşlemler</th>
            <th scope="col">Kitap Adeti</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var books in Model.ListBooks)
        {
            <tr>
            <td>@books.Name</td>
            <td>@books.BookCode </td>
            <td>@books.Author</td>
            <td>@books.PageNumber</td>
            <td>@books.Publisher</td>
            <td>@books.Total</td>

                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@books.Id" />
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Index" method="post">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Kitap Adi" id="Name" name="Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Yazar" id="Author" name="Author">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Yayın Evi" id="Publisher" name="Publisher">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Toplam Sayfa Sayısı" id="PageNumber" name="PageNumber">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Kitap Kodu" id="BookCode" name="BookCode">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Kitap Adeti" id="Total" name="Total">
        </div>

    </div>
    <button type="submit" class="btn btn-success">Oluştur</button>
</form>

